
 @import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kaisei+HarunoUmi&display=swap');
*{
  font-family: 'Hina Mincho', serif;
}
.bar{
    position: relative;
    top:6px;
}
.item{
    margin: 2%;
    color: rgb(45, 7, 134);
}
.bg{
    background-color: rgb(45, 7, 134);
}
.p1{
   width: 17%;
   height: 32vh;
   color: rgb(45, 7, 134);
    border: 2px solid rgb(45, 7, 134);
    border-radius: 4px;
    display: grid;
    place-items: center;
}
.flex{
    gap: 8%;
    row-gap: 50px;
}

@media (max-width:576px){
    .p1{
        width:180px;
        height: 75px;
    }
    .flex{
        gap:10px;
    }
} 
.w{
    width: 50%;
}
@media(min-width:768px){
    .w{
        width: 25%;
    }
    .data{
        gap: 30px;
    }
    .cardW{
        width: 45%;
    }
}

#plus{
margin-left: 1%;
position: relative;
bottom: 2px;
}

.pe{
    padding-right: 40%;
    box-shadow: 0 0 0 20px aliceblue;
}
.i{
    position: relative;
    top:7px;
}
.i1{
    margin-right: 3%;
}
.i2{margin-right: 1%;}
.i3{
    margin-right: 3%;
}
.back{
  width: 100%;
    background-color:rgb(45, 7, 134) ;
}
.img{
    position: relative;
    bottom: 35px;
}

  
   @keyframes display {
    0% {
      transform: translateX(8rem);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-8rem);
      opacity: 0;
    }
    100% {
      transform: translateX(-8rem);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100%; 
    height: 70vh;   
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    overflow:hidden;
  }
  .container-fluid{
   overflow:hidden;}
  .pic {
    gap: 10%;
    position: absolute;
    top: 0;
    opacity: 0;
    animation: display 10s infinite;
  }
  
  .pic:nth-child(2) {
    animation-delay: 2s;
  }
  .pic:nth-child(3) {
    animation-delay: 4s;
  }
  .pic:nth-child(4) {
    animation-delay: 6s;
  }
  .pic:nth-child(5) {
    animation-delay: 8s;
  }
  .pic:nth-child(6) {
    animation-delay: 10s;
  }
 @media(max-width:618px){
     .pic-ctn{
         height: 15rem;
     }
 }
 @media(max-width:768px){
   .cardW{
     text-align: center;
   }
   .cardImage{
     margin-left: 40%;
   }
 }
@media(max-width:380px){
  #root div div .text-center:nth-child(1){
    display: none;
  }
}
 @media (min-width:618px) and (max-width:850px) {
    .pic-ctn{
        height: 19rem;
    }
 }
